#formArea {
    margin: 0 auto;
    margin-top: 6rem;
    max-width: 70rem;
    height: 10rem;
    padding: 2rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    background: #FFFFFF;
    box-shadow: .5rem 1rem 80px rgba(0, 0, 0, 0.1);

    .wrapper {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;



        .left {
            width: 58%;
            display: flex;
            justify-content: space-between;

            .line {
                width: 0.1rem;
                height: 100%;
                background-color: rgba(193, 229, 242, 1);
            }

            .subject,
            .class {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .top {
                    cursor: pointer;
                    position: relative;
                    border: none;
                    background: none;
                    outline:none;
                    display: block;
                    text-align: left;

                    span {
                        font-size: 1.6rem;
                        color: rgba(18, 18, 18, 0.6);
                        transition: .3s;
                        -webkit-transition: .3s;
                        -moz-transition: .3s;
                        -ms-transition: .3s;
                        -o-transition: .3s;
                    }

                    ul {
                        width: 100%;
                        position: absolute;
                        top: 2rem;
                        background-color: #fff;
                        list-style: none;
                        transition: .3s;
                        -webkit-transition: .3s;
                        -moz-transition: .3s;
                        -ms-transition: .3s;
                        -o-transition: .3s;
                        opacity: 0;
                        visibility: hidden;
                        padding: 1.5rem;
                        padding-bottom: .5rem;
                        box-shadow: .5rem 1rem 80px rgba(0, 0, 0, 0.1);



                        li {
                            font-size: 1.6rem;
                            margin-bottom: 1rem;
                            display: block;

                            input[type="radio"] {
                                display: none;
                                pointer-events:none;
                            }

                            label {
                                font-size: 1.6rem;
                                transition: .3s;
                                -webkit-transition: .3s;
                                -moz-transition: .3s;
                                -ms-transition: .3s;
                                -o-transition: .3s;
                                cursor: pointer;
                                display: block;
                                text-align: left;

                                &:hover{
                                    color: green;
                                }
                                
    
}


                            input[type="radio"]:checked+label {
                                color: red;
                            }
                        }
                    }

                    ul.show {
                        opacity: 1;
                        visibility: visible;
                    }



                    img {
                        width: 1.2rem;
                        height: auto;
                        margin-top: -1rem;
                        transform: translate(1rem, -.2rem);
                        -webkit-transform: translate(1rem, -.2rem);
                        -moz-transform: translate(1rem, -.2rem);
                        -ms-transform: translate(1rem, -.2rem);
                        -o-transform: translate(1rem, -.2rem);
                        opacity: .6;
                        transition: .3s;
                        -webkit-transition: .3s;
                        -moz-transition: .3s;
                        -ms-transition: .3s;
                        -o-transition: .3s;
                    }


                    &:hover {
                        span {
                            color: rgba(18, 18, 18, 1);
                        }

                        img {
                            opacity: 1;
                        }

                    }
                }

                .bottom {
                    font-size: 2rem;
                    font-weight: 600;
                    color: rgba(18, 18, 18, 0.8);

                }

            }



        }

        .right {
            width: 30%;

            button {
                width: 100%;
                height: 100%;
                cursor: pointer;
                border-radius: 1rem;
                -webkit-border-radius: 1rem;
                -moz-border-radius: 1rem;
                -ms-border-radius: 1rem;
                -o-border-radius: 1rem;
                border: none;
                outline: none;
                font-size: 1.8rem;
                font-weight: 700;
                color: #000000;
                background-color: rgba(249, 237, 53, 1);

                transition: .3s;
                -webkit-transition: .3s;
                -moz-transition: .3s;
                -ms-transition: .3s;
                -o-transition: .3s;

                &:hover {
                    background-color: rgb(231, 218, 35);
                }
            }
        }

    }
}