*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 59.28%;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}


.container{
    max-width: 120rem;
    margin: 0 auto;
}


@import './header';
@import './formArea';
@import './subjectSection';
@import './whyUs';

